extends layout
block content
  script(src='/javascripts/dropzone.js')
  link(rel="stylesheet", href="stylesheets/admin.css")
  div#content
    h1= 'Admin zone'
    div
      form(method='POST', action='/upload', class='uplood' id='imageUpload' enctype="multipart/form-data")
      input(type="file" name="img" multiple)
      button(type="submit") Nahrát
    form(method='POST' action='/update/create')
      input.form-control(type='number', id='screenID', name='screenID' placeholder='ID Obrazovky' style="width: 300px")
      button(type='submit') Vytvorit obrazovku
    div
      for screen in config.screens 
        p #{screen.id}
    form(method='POST' action='/update/remove')
      input.form-control(type='number', id='screenID', name='screenID' placeholder='ID Obrazovky' style="width: 300px")
      button(type='submit') Odebrat obrazovku
    
    +a-btn-warning("/") K prezentaci
    