extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')

  div#cont
    ul#slideshow
      for file in screen.files
        li(class='slide')
          img(src=`/images/${file.name}`, alt='', srcset='')
  script var slidespeed = #{slidespeed}
  script var screencfg = !{JSON.stringify(screen)}
  script(src='/javascripts/carousel.js')
  script(src="/javascripts/live.js")